/* ===== default styles ===== */
body {
	color:#000;
	font-family: NotoSans, Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height: 23px;
	-webkit-font-smoothing: antialiased;
}
p {
	margin: 1em 0;
}
.content {
	width: 700px;
	margin: 2em auto 0 auto;
}
ul {
	font-family: LiberationMono, Courier, monospace;
	margin: 4em auto 0 auto;
}
li {
	display: inline-block;
	margin-right: 1em;
}

/* ===== multilingual styles ===== */
.ml-en {
	font-family: LiberationMono, Courier, monospace;
	color:red;
	font-size:1.05em;
	letter-spacing: -0.02em;
}
.ml-ko {
	color:blue;
}
.ml-jp {
	color:green;
}
.ml-cn {
	color:orange;
}
.ml-num {
	font-family: LiberationMono, Courier, monospace;
	color:violet;
	font-size:1.05em;
	letter-spacing: -0.02em;
}
.ml-punct {
	/*font-family: LiberationMono, Courier, monospace;*/
	color:teal;
}
.ml-parentheses {
	font-family: LiberationMono, Courier, monospace;
	color:brown;
	font-size:1.05em;
	letter-spacing: -0.02em;
	position:relative;
	top:-0.05em;
	letter-spacing: -0.075em;
	margin-left:-0.075em;
}