/* ===== default styles ===== */
body {
	color:#000;
	font-family: NotoSans, Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height: 23px;
	-webkit-font-smoothing: antialiased;
}
p {
	margin: 1em 0;
}
.content {
	width: 700px;
	margin: 2em auto 0 auto;
}
h1, h2, h3, ul {
	font-family: LiberationMono, Courier, monospace;	
	text-align: center;
}
h1 { margin: 3em 0 0 0; }
h2, h3, h3 a { color:gray; }
h3 { margin: 5em auto;}
ul { margin: 2em auto; }
li {
	display: inline-block;
	margin-right: 1em;
}
li.subtitle { color: gray; margin-bottom:1em; }
li.en { color: brown; }
li.ko { color: indigo; }
li.jp { color: crimson; }
li.cn { color: darkcyan; }
li.num { color: violet; }
li.punct { color: deeppink; }
li.parentheses { color: limegreen; }

/* ===== multilingual styles ===== */
.ml-en {
	color:brown;
	font-family: LiberationMono, Courier, monospace;
	font-size:1.05em;
	letter-spacing: -0.02em;
}
.ml-ko {
	color:indigo;
}
.ml-jp {
	color:crimson;
}
.ml-cn {
	color:darkcyan;
}
.ml-num {
	font-family: LiberationMono, Courier, monospace;
	color:violet;
	font-size:1.05em;
	letter-spacing: -0.02em;
}
.ml-punct {
	font-family: LiberationMono, Courier, monospace;
	color:deeppink;
}
.ml-parentheses {
	color:limegreen;
	font-family: LiberationMono, Courier, monospace;
	font-size:1.05em;
	letter-spacing: -0.02em;
	position:relative;
	top:-0.05em;
	letter-spacing: -0.075em;
	margin-left:-0.075em;
}