
p {
  font-size: 14px;
  line-height: 18px;
}
span.ml-en {
  font-family: Helvetica, Arial, sans-serif;
}

span.ml-ko {
  font-family: 'Nanum Gothic', Arial, sans-serif;
  font-size:15px;
  /*below two lines are for baseline shift */
  position:relative;
  top:0;
}

span.ml-cn {
  font-family: 'Nanum Gothic', Arial, sans-serif;
  font-size:15px;
  /*below two lines are for baseline shift */
  position:relative;
  top:0;
}

span.ml-jp {
  font-family: 'Nanum Gothic', Arial, sans-serif;
  font-size:15px;
  /*below two lines are for baseline shift */
  position:relative;
  top:0;
}

span.ml-num {
  font-family: 'Nanum Gothic', Arial, sans-serif;
  font-size:15px;
  /*below two lines are for baseline shift */
  position:relative;
  top:0;
}

span.ml-punct {
  font-family: 'Nanum Gothic', Arial, sans-serif;
  font-size:14px;
  /*below two lines are for baseline shift */
  position:relative;
  top:0;
}